# FastAPI
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

# Authentication
python-jose[cryptography]
passlib[bcrypt]
python-dotenv

# Redis
redis
hiredis

# Kafka
kafka-python

# HTTP Client
httpx
aiohttp

# Logging
structlog

# Testing
pytest
pytest-asyncio

apscheduler  